.library-book {
    display: flex;
    margin: 15px 0;
  }
  
  .library-book .book-cover {
    flex-shrink: 0;
    width: 120px;
    margin-right: 30px;
  }
  
  .library-book .book-cover img {
    max-width: 100%;
  }
  
  .library-book .book-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    align-items: flex-start;
  }
  
  .library-book .book-details .book-title {
    font-size: 1.2rem;
  }
  